<ion-header>
  <ion-toolbar>
    <ion-title>MCU Ratings</ion-title>
    <ion-buttons slot="end" (click)="toggleSort()">
      Toggle
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="reorderItems($event)" [disabled]="!sortToggle">
      <ion-item *ngFor="let movie of movies">
          <span *ngIf="movie.diff">{{movie.diff}}</span>
          <ion-icon name="arrow-up" *ngIf="movie.to < movie.from"></ion-icon>
          <ion-icon name="arrow-down" *ngIf="movie.to > movie.from"></ion-icon>
        <ion-label>
          {{movie.title}}
        </ion-label>
        <ion-reorder slot="end" *ngIf="sortToggle"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>