<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="share()">
      Share
    </ion-buttons>
    <ion-title>MCU Ratings</ion-title>
    <ion-buttons slot="end" (click)="resetPrompt()">
      Reset
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="instruction">Reorder the movies below from your favorite to least favorite. Tap 'Share' to send rankings to friends.</div>

<ion-content>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled=false>
      <ion-item *ngFor="let movie of movies">
        <ion-label>
          {{movie.title}}
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>